body {
    background-color: rgb(63,68,251);
    background: radial-gradient(circle, rgba(63,68,251,1) 0%, rgba(208,70,252,1) 100%);
    font-family: 'Urbanist', sans-serif;
    color: white;
    margin: 0 auto;
}

   /* diseño del header (incompleto) */
    .barraNav ul li {
        list-style: none;
        text-decoration: none;
    }

    nav.barraNav {
        background-color: black;
        width: 100vw;
        margin: 0px;
        display: flex;
        flex-wrap: wrap;
    }
    div.logoMenu img {
        width: 5vw;
        padding: 20px 0px 0px 13px;
        justify-content: left;
    }
    div.logoBuscar img {
        width: 5vw;
        padding: 20px 13px 0px 0px;
        justify-content: right;
    }

    div.novaLogo {
        justify-content: center;
    }

    div.novaLogo img {
        width: 20vw;
        padding: 7px 0px 0px 0px;
    }

    .barraNav{
        display: flex;
        justify-content: space-between;
    }


    section.headerDesktop {
        display: none;
    }

/* diseño de los articles */
section.peliculasSeries {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section.peliculasSeries article {
    width: 95vw;
    /* width: 95vw */
    background-color: black;
    margin: 5px;
    padding: 5px;
    justify-content: space-around;
    border-radius: 6px;
}

section.peliculasSeries article h3 {
    font-size: 19px;
}
section.peliculasSeries article p {
    font-size: 15px;
    text-align: center;
}

div.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div.photo-container img {
    width: 100%;
    height: 60vh;
}

h1.tituloPrincipal {
    font-size: 37px;
    text-align: center;
    border: solid white 1px;
    padding: 4px;
    color: white;
}

.peliculasSeries article h3{
    text-align: center;
}

/* style del footer */
div ul li {
    list-style: none;
    text-decoration: none;
   
}

.FooterTodo{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.FooterTodo ul{
    background-color: black;
    width: 100%;
    margin: 0px;
    padding: 10px 0px 10px 0px;
    text-align: center;

}

.FooterTodo ul li{
    display: inline;
   list-style: none;
   }

.FooterTodo ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
}

/* style menu mobile */
section ul.menuMobile {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
    justify-content: left;
    padding-inline-start: 0px;
}

section ul.menuMobile li{
    display: block;
    background-color: black;
    border: solid white 1px;
    width: 100vw;
    padding: 5px;
    text-align: center;
    
}

section ul.menuMobile a {
    text-decoration: none;
    list-style: none;
    color: white;
}

/* css detail movie */


.detalle hr.linea {
    color: white;
}

/* pagina de generos.html */

h1.GenerosTitulo {
    text-align: center;
    font-size: 25px;
    width: 100%;
    border: solid white 1px;
}
.generostipos{
    text-align: center;
    border: solid black 1px;
    background-color: black;
    margin-bottom: 0px;
    color: white;
}


section.GenerosPopulares article h3.generostipos {
    text-decoration: none;
}

.fotogenero {
    justify-content: center;
    padding: 0px 0px 0px 0px;
}

div.photo-container img.fotogenero {
    width: 100vw;
}
 
.GenerosPopulares section{
    margin: 0 auto;
}

/* style de search-results */
.tituloBusqueda {
    text-align: center;
    border: solid white 1px;
}
.subtituloBusqueda {
    text-align: center;
}

/* style de favorite */
.tituloFavorite {
    text-align: center;
}

/* style de detail.genres */

.GrHead{
    font-size: 20px;
    text-align: center;
    border: solid white 1px;
    padding: 4px;
    color: white;  
}

h1.tituloPrincipal {
    color: white;
    border: solid white 1px;
}


.linkeado{
    text-decoration: none;
    color: white;
}

/* style menu tablet */

@media (min-width: 768px) {

/* style iconos */

div.logoMenu img {
    width: 5vw;
    padding: 20px 0px 0px 13px;
    justify-content: left;
}
div.logoBuscar img {
    width: 5vw;
    padding: 20px 13px 0px 0px;
    justify-content: right;
}

/* style del footer */

.FooterTodo ul li a{
    font-size: 27px;
}

/* style del menuTablet */

section ul.menuMobile a {
    font-size: 33px;
}


/* style del index */

section.peliculasSeries article h3 {
    font-size: 30px;
}
section.peliculasSeries article p {
    font-size: 25px;
}

h1.tituloPrincipal {
    font-size: 50px;   
}

div.photo-container img {
    width: 45vw;
    height: 48vh;
}

/* style de peliculas */

/* style de menu de busqueda */

h3.tituloBusqueda{
    font-size: 40px;
}

h3.subtituloBusqueda{
    font-size: 45px;
}

/* style de Generos */

h1.GenerosTitulo{
    font-size: 50px;
}

h3.generostipos{
    font-size: 38px;
}

 /* style de detail generos */

 h1.GrHead{
     font-size: 40px;
 }

 h4{
     font-size: 30px;
 }
 section.peliculasSeries article {
    width: 45vw;
    background-color: black;
    margin: 5px;
    padding: 5px;
    justify-content: space-around;
    border-radius: 6px;
}
}

/* style desktop */

@media (min-width: 1024px) {
    
    
    /* header */
    nav.barraNav {
        display: none;
    }

    section.headerDesktop {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        background-color: black;
        padding: 20px 0px 20px 20px;
    }

   
    section.headerDesktop div.novaLogo img{
        width: 6vw;  
    }

    section.headerDesktop div.novaLogo {
        justify-content: flex-start;
        }

    section.headerDesktop div ul li a{
        text-decoration: none;
        color: white;
        font-size: 30px; 
    }

    section.headerDesktop div ul li{
        display: inline;
    }

    section.headerDesktop div {
        justify-content: space-between;
    }
    section.headerDesktop div ul {
        text-align: right;
    }

    /*articulos*/
    section.peliculasSeries article {
        width: 18vw;
        background-color: black;
        margin: 5px;
        padding: 5px;
        justify-content: space-around;
        border-radius: 6px;
    }
    div.photo-container img {
        width: 18vw;
        height: 45vh;
    }
    section.peliculasSeries article h3 {
        font-size: 23px;
    }
    section.peliculasSeries article p {
        font-size: 20px;
    }

    section ul.menuMobile {
        display: none;
    }
    .FooterTodo {
        margin: 20px 0px 0px 0px;
    }

        /* section generos */

    section.GenerosPopulares {
        display: flex;
        flex-wrap: wrap;
    }

    section.GenerosPopulares article {
        width: 47vw;
        display: inline;
        margin: 1px 0px 10px 5px;
        justify-content: space-around;
        border-radius: 5px;
    }

    section.GenerosPopulares article div.photo-container img {
        width: 47vw;
    }

.fotogenero{
    width: 100%;
}

section.peliculasSeries article.generosDetalle img{
    height: 50vh;
}

section.peliculasSeries article.generosDetalle{
    width: 20vw;
    height: 70vh;
}

/* boton de busqueda */

.menuBusqueda{
    text-align: right;
}

}
