body {
    background-color: rgb(63,68,251);
    background: radial-gradient(circle, rgba(63,68,251,1) 0%, rgba(208,70,252,1) 100%);
    font-family: 'Urbanist', sans-serif;
    color: white;
    margin: 0 auto;
}

   /* dise単o del header (incompleto) */
    .barraNav ul li {
        list-style: none;
        text-decoration: none;
    }

    nav.barraNav {
        background-color: black;
        width: 100vw;
        margin: 0px;
        display: flex;
        flex-wrap: wrap;
    }
    div.logoMenu img {
        width: 5vw;
        padding: 20px 0px 0px 13px;
        justify-content: left;
    }
    div.logoBuscar img {
        width: 5vw;
        padding: 20px 13px 0px 0px;
        justify-content: right;
    }

    div.novaLogo {
        justify-content: center;
    }

    div.novaLogo img {
        width: 20vw;
        padding: 7px 0px 0px 0px;
    }

    .barraNav{
        display: flex;
        justify-content: space-between;
    }

    ul.menu {
        display: none;
    }

/* dise単o de los articles */
section.peliculasSeries {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section.peliculasSeries article {
    width: 45%;
    background-color: black;
    margin: 5px;
    padding: 5px;
    justify-content: space-around;
}

section.peliculasSeries article h3 {
    font-size: 20px;
}
section.peliculasSeries article p {
    font-size: 15px;
    text-align: center;
}

div.photo-container {
    display: flex;
    flex-wrap: wrap;
}
div.photo-container img {
    width: 100%;
    height: 40vh;
}
h1.tituloPrincipal {
    font-size: 37px;
    text-align: center;
    border: solid black 1px;
    padding: 4px;
    color: black;
}

.peliculasSeries article h3{
    text-align: center;
}

/* dise単o del footer */
div ul li {
    list-style: none;
    text-decoration: none;
   
}

.FooterTodo{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.FooterTodo ul{
    background-color: black;
    width: 100%;
    padding: 10px 10px 10px 40px;
    margin: 0px;
}

.FooterTodo ul li{
    display: inline;
   list-style: none;
   }

.FooterTodo ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
}

/* dise単o menu mobile */
section ul.menuMobile {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
    justify-content: left;
    padding-inline-start: 0px;
    
}
section ul.menuMobile li{
    display: block;
    background-color: black;
    border: solid white 1px;
    width: 100vw;
    padding: 5px;
    text-align: center;
    
}

section ul.menuMobile li a {
    text-decoration: none;
    list-style: none;
    color: white;
}

/* css detail movie */

/* 
section.peliculasSeries.detalle article{
    width: 100vw;
} */



.detalle hr.linea {
    color: white;
}

/* pagina de generos.html */

.GenerosTitulo{
    text-align: center;
    font-size: 25px;
    border: solid black 1px;

}
.generostipos{
    text-align: center;
    border: solid black 1px;
    background-color: black;

}

.fotogenero{
    justify-content: center;
    padding: 0px 5px 5px 10px;
}